<div>
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white">
  
      
  
      <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 p-4 gap-4">
          <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div
              class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
              <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                  class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                <rect x="3" y="7" width="18" height="13" rx="2" ry="2" fill="none" stroke-width="2"/>
                <path d="M8 7V4a1 1 0 011-1h6a1 1 0 011 1v3" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <line x1="12" y1="11" x2="12" y2="17" stroke-linecap="round" stroke-width="2"/>
              </svg>

            </div>
            <div class="text-right">
              <p class="text-2xl">489</p>
              <p>On Going Projects</p>
            </div>
          </div>
          <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
              <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
              </svg>
            </div>
            <div class="text-right">
              <p class="text-2xl">557</p>
              <p>To Do List</p>
            </div>
          </div>

        </div>
  
  
  
        <div class="mt-4 mx-4">
          <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
              <table class="w-full">
                <thead>
                  <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Employee Name</th>
                    <th class="px-4 py-3">Employee Address</th>
                    <th class="px-4 py-3">Employee Email</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                  <tr  class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                    <td class="px-4 py-3">
                      <!-- {{employee.employeeName}} -->
                    </td>
                    <td class="px-4 py-3 text-sm">
                      <!-- {{employee.employeeAddress}} -->
                    </td>
                    <td class="px-4 py-3 text-xs">
                      <!-- {{employee.employeeEmail}} -->
                    </td>
                  </tr>
  
                </tbody>
              </table>
            </div>
  
          </div>
        </div>
      </div>
  
      
    </div>
  </div>
  